numpy==1.22.0
scipy==1.7.3
pytest
pytest-cov
pytest-flake8
flake8
# sphinx
# sphinx_rtd_theme
# setuptools_scm
# twine
# wheel
# build
# setuptools
# packaging
# scipy-stubs
# numpy-stubs
# types-setuptools
# ipython
# matplotlib
# numpydoc
# docutils
# pygments
# ipykernel
# nbformat
# keyring
# readme_renderer
# requests
# importlib-metadata
# jeepney
# secretstorage
# colorama
# exceptiongroup
# iniconfig
# pluggy
# tomli
# trove-classifiers
# typing_extensions
# pywin32-ctypes
# pyzmq
# tornado
# traitlets
# executing
# asttokens
# pure-eval
# stack-data
# jupyter-client
# jupyter-core
# platformdirs
# nest-asyncio
# decorator
# pickleshare
# parso
# jedi
# backcall
# pexpect
# ptyprocess
# wcwidth
# prompt-toolkit
# ipython-genutils
# jupyter-console
# qtconsole
# qtpy
# widgetsnbextension
# ipywidgets
# jupyterlab-widgets
# comm
# argon2-cffi
# argon2-cffi-bindings
# pycparser
# cffi
# defusedxml
# mistune
# nbclient
# nbconvert
# tinycss2
# webencodings
# bleach
# beautifulsoup4
# soupsieve
# json5
# jsonschema-specifications
# referencing
# rpds-py
# jsonschema
# jupyter-events
# python-json-logger
# rfc3339-validator
# rfc3986-validator
# uri-template
# jupyter-server-terminals
# terminado
# jupyter-server
# send2trash
# prometheus-client
# overrides
# fastjsonschema
# jupyterlab-pygments
# pandocfilters
# jupyterlab
# async-lru
# babel
# jupyter-lsp
# python-lsp-jsonrpc
